/* banner-styles */
.banner{
    background-image:url('../images/banner/banner2.png') ;
    height: 100vh;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 1600px 809px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 180px;
    padding: 216px 230px 0px 845px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    text-align:right;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    width: 494px;
    height: 78px;
    padding: 24px 230px 0px 876px;
    text-align: right;
}
.btn-1{
    width: 160px;
    height: 64px;
    padding:21px 25px 20px 26px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    margin: 32px 230px 167px 1210px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
/* failures-styles */
.failures{
    display: flex;
    margin-top: 130px;
}
.image1{
    margin-left: 206px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 239px 450px 0px 87px;
    width: 288px;
    height: 94px;
}
.failures-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    width: 416px;
    height: 104px;
    padding: 0px 322px 0px 87px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
li{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 349px;
    height: 26px;
    padding-left: 45px;
}
ul{
    list-style: none;
}
ul li:before{
    content: '✓';
    color:green;
}