/* banner-styles */
.banner{
    background-image:url('../images/banner/banner2.png') ;
    height: 100vh;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 1600px 809px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 180px;
    padding: 216px 230px 0px 845px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    text-align:right;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    width: 494px;
    height: 78px;
    padding: 24px 230px 0px 876px;
    text-align: right;
}
.btn-1{
    width: 160px;
    height: 64px;
    padding:21px 25px 20px 26px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    margin: 32px 230px 167px 1210px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
/* failures-styles */
.failures{
    display: flex;
    margin-top: 130px;
}
.image1{
    margin-left: 206px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 239px 450px 0px 87px;
    width: 288px;
    height: 94px;
}
.failures-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    width: 416px;
    height: 104px;
    padding: 0px 322px 0px 87px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
li{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 349px;
    height: 26px;
    padding-left: 45px;
}
ul{
    list-style: none;
}
ul li:before{
    content: '✓';
    color:green;
}
/* my-plans styles */
.my-plans{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 229;
}
.skill{
    gap: 86px;
}
/* gradien-styles */
.gradient{
    background: url('../images/watch.png');
    background-repeat: no-repeat;
    margin: 117px 230px 0px 230px;
}
.gradient-title{
    padding: 59px 617px 0px 64px;
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
}
.btn-2{
    margin: 24px 916px 59px 64px;
    width: 160px;
    height: 64px;
    text-align: center;
    color: #F15B22;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
/* footer styles */
.footer{
    margin-top: 130px;
    display: flex;
    background-color: #151414;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}
.left-part{
    padding: 118px 331px 141px 230px;
}
.address-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.address-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 485px;
    height: 78px;
    text-align: left;
    padding-bottom: 0px;
}
.email-l{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.phone{
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.right-part{
    padding: 118px 230px 255px 0px;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    width: 123px;
    height: 29px;
    
}
form{
    width: 325px;
    height: 144px;

}
.email{
    margin-bottom:24px;
    width: 300px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    padding: 2px 50px 2px 5px;

    
}

.btn-3{
    width: 170px;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    color: #F15B22;
}